<template>
    <div class="container pt-4">
        <input-section
                :baseWaterPosition="baseWaterPosition"
                @changeBaseWaterPosition="p => baseWaterPosition = p"
                :range="range"
                @changeRange="r => range = r"
                :stepContent="stepContent"
                @changeStepContent="c => stepContent = c"/>

        <result-section v-if="optimizer" :optimizer="optimizer"/>
        <details-section v-if="optimizer" :optimizer="optimizer"/>
    </div>
</template>

<script lang="ts">
    import {Vue, Component, Watch} from 'vue-property-decorator'
    import InputSection from './inputs/InputSection.vue'
    import Optimizer from '../../backend/Optimizer'
    import UserData, {
        AdjustmentRange,
        BaseWaterPosition,
        makeAdjustmentRange,
        makeUserData,
    } from '../../backend/UserData'
    import {StepContent} from '../../backend/Step'
    import {VThrottle} from '../v-util'
    import ResultSection from './results/ResultSection.vue'
    import DetailsSection from './details/DetailsSection.vue'

    @Component({
        components: {DetailsSection, ResultSection, InputSection},
    })
    export default class ComputePage extends Vue {
        baseWaterPosition: BaseWaterPosition = 13
        range: AdjustmentRange = makeAdjustmentRange(12.9, 13.1)
        stepContent: Array<StepContent> = []
        optimizer: Optimizer|null=null
        inputErrors = false

        get userData(): UserData | null {
            try {
                const userData = makeUserData(this.baseWaterPosition, this.range, this.stepContent)
                this.inputErrors = false
                return userData
            } catch (e) {
                this.inputErrors = true
                return null
            }
        }

        @Watch('userData', {immediate: true})
        @VThrottle(1000, {leading: false})
        compute() {
            this.inputErrors = true
            try {
                if (!this.userData) return
                this.optimizer = new Optimizer(this.userData)
                while (this.optimizer.shouldNextOptimizer()) {
                    this.optimizer = this.optimizer.nextOptimizer()
                }
                this.inputErrors = false
            } catch (ignore) {
            }
        }
    }
</script>
