<template>
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span class="mr-auto">{{title}}</span>
            <button class="btn btn-sm btn-link" @click="hide = true" v-if="!hide">Скрыть</button>
            <button class="btn btn-sm btn-link" @click="hide = false" v-else>Открыть</button>
        </div>
        <div class="card-body" v-if="!hide">
            <slot/>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            title: {
                type: String,
                default: '',
            },
            defaultHide: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                hide: false,
            }
        },
        mounted() {
            this.hide = this.defaultHide
        },
    }
</script>
