<template>
    <section-card title="Детализация расчёта">
        <ul class="list-group list-group-flush">
            <optimization-step
                    v-for="(step, i) in optimizer.stack"
                    :optimizer="step"
                    :key="i"/>
        </ul>
    </section-card>
</template>


<script lang="ts">
    import {Vue, Component, Prop} from 'vue-property-decorator'
    import OptimizationStep from './OptimizationStep.vue'
    import Optimizer from '../../../backend/Optimizer'
    import SectionCard from '../SectionCard.vue'

    @Component({
        components: {SectionCard, OptimizationStep},
    })
    export default class ResultContainer extends Vue {
        @Prop()
        optimizer!: Optimizer
    }
</script>
