<template>
    <div class="optimization-graph-wrapper">
        <svg class="optimization-graph" :width="width" :height="height">
            <g v-for="(step, si) in steps" class="step" :key="si">
                <rect
                        v-for="(node, ni) in step"
                        v-bind="getNodeRectAttributes(step, si, node, ni)"
                        :key="'r' + ni"></rect>
                <text
                        v-for="(node, ni) in step"
                        v-bind="getNodeTextAttributes(step, si, node, ni)"
                        :key="'t' + ni">
                    {{node.Bsum | round(2)}}
                </text>
                <g
                        class="parent-arrow"
                        v-for="(node, ni) in step"
                        v-if="si"
                        :key="'a' + ni">
                    <line v-bind="getNodeArrowAttributes(step, si, node, ni)"></line>
                </g>
            </g>
        </svg>
    </div>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from 'vue-property-decorator'
    import round from 'lodash/round'
    import maxBy from 'lodash/maxBy'
    import Optimizer from '../../../backend/Optimizer'
    import Step from '../../../backend/Step'
    import Node from '../../../backend/Node'

    const padding = 3
    const spasing = padding
    const gapp = 50
    const rect = {w: 70, h: 25}

    @Component({
        filters: {
            round,
        },
    })
    export default class OptimizationGraph extends Vue {
        @Prop(Object)
        optimizer!: Optimizer

        get steps() {
            return this.optimizer.tree
        }

        get width() {
            const steps = this.steps.length
            return ((gapp + rect.w + spasing) * steps) - gapp
        }

        get height() {
            // @ts-ignore
            const count = maxBy(this.steps, s => s.length).length
            return count * (rect.h + spasing) + padding * 2
        }

        getNodeRectAttributes(step: number, si: number, node: number, ni: number) {
            const width = rect.w
            const height = rect.h
            return {
                class: 'node',
                height: height + 'px',
                width: width + 'px',
                y: (padding + (height + spasing) * ni) + 'px',
                x: (padding + (width + gapp) * si) + 'px',
            }
        }

        getNodeTextAttributes(step: Step, si: number, node: Node, ni: number) {
            const width = rect.w
            const height = rect.h
            return {
                class: 'node-text',
                y: (padding + (height + spasing) * ni + height * 0.7) + 'px',
                x: (padding + (width + gapp) * si + width / 2) + 'px',
            }
        }

        getNodeArrowAttributes(step: Step, si: number, node: Node, ni: number) {
            const width = rect.w
            const height = rect.h

            const y = (i: number) => padding + (height + spasing) * i + height / 2
            const x1 = padding + (width + gapp) * si

            // @ts-ignore
            const parentIndex = this.steps[si - 1].indexOf(node.parent)

            return {
                y1: y(ni) + 'px',
                x1: x1 + 'px',

                y2: y(parentIndex) + 'px',
                x2: (x1 - gapp) + 'px',
            }
        }
    }
</script>

<style lang="scss" scoped>
    .optimization-graph-wrapper {
        overflow-x: auto;

        .optimization-graph {
            width: auto;
            height: auto;

            .parent-arrow > line,
            .node {
                fill: #325d886b;
                stroke: #325d88cf;
                stroke-width: 2px;
            }

            .node-text {
                text-anchor: middle;
                font-weight: bold;
            }
        }
    }
</style>
