<template>
    <li class="list-group-item">
        <div class="lead">Шаг оптимизации #{{optimizer.number}}</div>
        <optimization-graph :optimizer="optimizer"/>
        <p class="mb-0">Шагов расчёта: {{optimizer.bestRow.length}}</p>
        <p class="mb-0">Минимальное количество потребляемого топлива: <b>{{optimizer.best.Bsum | round}} кг</b></p>
        <p class="mb-0">Цикл регулирования: <b>{{cycle}}</b></p>
        <button class="btn btn-sm btn-link" @click="more = !more">{{ more ? 'Скрыть' : 'Болше информации' }}</button>
        <div class="more pl-2 pt-2" v-if="more">
            <div v-for="(nodes, i) in optimizer.tree" class="mb-2">
                <p class="mb-0 font-weight-bold">Час {{optimizer.userData.steps[i].hour}}:00</p>
                <p class="mb-0">Регион расчётов: {{arrayRound(optimizer.userData.steps[i].range)}}</p>
                <p v-for="(n, i) in nodes" class="mb-0" :key="i">
                    Расчёт #{{i}}:
                    x1 = {{ n.x1 | round }} м; x2 = {{ n.x2 | round }} м; B = {{ n.B | round }} кг
                </p>
            </div>
        </div>
    </li>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from 'vue-property-decorator'
    import OptimizationGraph from './OptimizationGraph.vue'
    import round from 'lodash/round'
    import Optimizer from '../../../backend/Optimizer'

    @Component({
        components: {OptimizationGraph},
    })
    export default class OptimizationStep extends Vue {
        @Prop(Object)
        optimizer!: Optimizer
        more = false

        get cycle() {
            const suffix = ' м'
            const separator = ' -> '

            return `(${this.optimizer.userData.baseWaterPosition}${suffix})` + separator +
                this.optimizer.bestRow.map(n => round(n.x2, 3) + suffix).join(separator)
        }

        arrayRound(array: number[]) {
            return array.map(i => round(i, 3))
        }
    }
</script>
