<template>
    <input class="form-control" :value="value" @input="change" :attrs="$attrs">
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator'

    @Component({
        props: {
            round: {
                default: true,
            },
            label: {
                default: null,
            },
            value: Number,
        },
        model: {
            event: 'change',
            prop: 'value',
        },
    })
    export default class IntField extends Vue {
        change(e) {
            let i = parseFloat(e.target ? e.target.value : e)

            if (this.round)
                i = Math.round(i)

            this.$emit('change', i)
        }
    }
</script>
