<template>
    <div class="pt-4">
        <span class="font-weight-bold">Эффективность оптимизации:</span>
        <line-chart :chart-data="datacollection" class="result-chart"/>
    </div>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from 'vue-property-decorator'
    import {getColorByIndex} from '../../v-util'
    import LineChart from '../../common/LineChart.vue'
    import Optimizer from '../../../backend/Optimizer'

    @Component({
        components: {LineChart},
    })
    export default class OptimizationGraph extends Vue {
        @Prop()
        private optimizer!: Optimizer

        get datasets() {
            return [
                {
                    label: 'B',
                    data: this.optimizer.stack.map(o => o.best.Bsum),
                    fillColor: getColorByIndex(0) + '40',
                    borderColor: getColorByIndex(0) + '60',
                    steppedLine: true,
                },
            ]
        }

        get labels() {
            return this.optimizer.stack.map(o => `Оптимизация ${o.number}`)
        }

        get datacollection() {
            return {
                labels: this.labels,
                datasets: this.datasets,

            }
        }
    }
</script>

<style lang="scss" scoped>
    .result-chart {
        height: 300px;
    }
</style>
