<template>
    <section-card :title="`Результат вычисления (${optimizer.best.Bsum} кг)`">

        <p>Лучший вариант посчитан за {{optimizer.increment}} проходов</p>
        <p>
            Минимальное количество потребляемого топлива: <b>{{best.Bsum | round}} кг</b>
        </p>
        <p>
            Цикл регулирования: <b>{{cycle}}</b>
        </p>

        <result-graph :optimizer="optimizer"/>
        <optimization-graph :optimizer="optimizer"/>

    </section-card>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from 'vue-property-decorator'
    import round from 'lodash/round'
    import ResultGraph from './ResultGraph.vue'
    import OptimizationGraph from './OptimizationGraph.vue'
    import Optimizer from '../../../backend/Optimizer'
    import SectionCard from '../SectionCard.vue'

    @Component({
        components: {SectionCard, OptimizationGraph, ResultGraph},
    })
    export default class ResultContainer extends Vue {
        @Prop()
        private optimizer!: Optimizer

        get best() {
            return this.optimizer.best
        }

        get cycle() {
            const suffix = ' м'
            const separator = ' -> '

            return `(${this.optimizer.userData.baseWaterPosition}${suffix})` + separator +
                this.optimizer.bestRow.map(n => round(n.x2, 3) + suffix).join(separator)
        }
    }
</script>
