<template>
    <div class="pt-4">
        <span class="font-weight-bold">Значения сети на каждом шаге:</span>
        <line-chart :options="options" :chart-data="datacollection" class="result-chart"/>
    </div>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from 'vue-property-decorator'
    import {getColorByIndex} from '../../v-util'
    import LineChart from '../../common/LineChart.vue'
    import uniqBy from 'lodash/uniqBy'
    import isUndefined from 'lodash/isUndefined'
    import Optimizer from '../../../backend/Optimizer'

    @Component({
        components: {LineChart},
    })
    export default class ResultGraph extends Vue {
        @Prop()
        private optimizer!: Optimizer

        get datasets() {
            return [
                {
                    label: 'B',
                    yAxisID: 'B',
                    tension: 0,
                    data: [0].concat(this.optimizer.bestRow.map(n => n.Bsum)),
                    fill: false,
                    borderColor: getColorByIndex(0) + '60',
                },
                {
                    label: 'X',
                    yAxisID: 'X',
                    beginAtZero: false,
                    tension: 0,
                    data: [this.optimizer.userData.baseWaterPosition]
                        .concat(this.optimizer.bestRow.map(n => n.x2)),
                    fill: false,
                    borderColor: getColorByIndex(1) + '60',
                },
                {
                    label: 'Qpr',
                    yAxisID: 'Qpr',
                    tension: 0,
                    data: [null, ...this.optimizer.bestRow.map(n => n.step.Qpr)],
                    fill: false,
                    borderColor: getColorByIndex(3) + '60',
                },
                {
                    label: 'Pn',
                    yAxisID: 'Pn',
                    tension: 0,
                    data: [null, ...this.optimizer.bestRow.map(n => n.step.Pn)],
                    fill: false,
                    borderColor: getColorByIndex(4) + '60',
                },
            ]
        }

        get options() {

            const axies = uniqBy(this.datasets.filter(d => d.yAxisID), d => d.yAxisID)
                .map((d: any, i) => ({
                    id: d.yAxisID,
                    scaleLabel: {
                        display: true,
                        labelString: d.yAxisLabel || d.label,
                    },
                    ticks: {
                        beginAtZero: isUndefined(d.beginAtZero) ? true : d.beginAtZero,
                    },
                    gridLines: {
                        display: i === 0,
                    },
                    type: 'linear',
                }))

            return {
                scales: {
                    yAxes: axies,
                },
            }
        }

        get labels() {
            return ['', ...this.optimizer.bestRow.map(n => `${n.step.hour}:00`)]
        }

        get datacollection() {
            return {
                labels: this.labels,
                datasets: this.datasets,

            }
        }
    }
</script>

<style lang="scss" scoped>
    .result-chart {
        height: 300px;
    }
</style>
