<template>
    <div>
        <div class="font-weight-bold">Графики приточности и нагрузки</div>
        <div class="row my-2" v-if="stepContent.length">
            <div class="col-lg-3 col-md-4" v-for="(step, i) in stepContent" :key="i">
                <div class="border rounded mb-3 p-3">
                    <table>
                        <tr>
                            <td>Час:</td>
                            <td>
                                <float-input aria-label="час"
                                             class="form-control form-control-sm ml-2"
                                             v-model="step.hour"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Pn:</td>
                            <td>
                                <float-input aria-label="Pn"
                                             class="form-control form-control-sm ml-2"
                                             v-model="step.Pn"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Qpr:</td>
                            <td>
                                <float-input aria-label="Qpr"
                                             class="form-control form-control-sm ml-2"
                                             v-model="step.Qpr"/>
                            </td>
                        </tr>
                    </table>
                    <div class="text-right mt-2">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-outline-danger" @click="deleteHour(step)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center my-3" v-else>
            <button class="btn btn-sm btn-outline-info" @click="loadDefaultStepData">
                Загрузить подготовленные данные
            </button>
        </div>
        <button class="btn btn-block btn-light" @click="addHour">Добавить час</button>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator'
    import {StepContent} from '../../../backend/Step'
    import FloatInput from '../../common/FloatInput.vue'
    import default_step_data from './default_step_data'

    @Component({
        components: {FloatInput},
    })
    export default class HoursManager extends Vue {
        @Prop()
        private stepContent!: Array<StepContent>

        addHour() {
            if (!this.stepContent) return
            const last: StepContent | null = this.stepContent.length ? this.stepContent[this.stepContent.length - 1] : null
            const steps: Array<StepContent> = [
                ...this.stepContent,
                {
                    hour: last ? (last.hour || 0) + 1 : 0,
                    Pn: last ? last.Pn : 0,
                    Qpr: last ? last.Qpr : 0,
                },
            ]
            this.$emit('changeStepContent', steps)
        }

        deleteHour(hour: StepContent) {
            this.$emit('changeStepContent', this.stepContent.filter(s => s !== hour))
        }

        loadDefaultStepData() {
            this.$emit('changeStepContent', default_step_data)
        }
    }
</script>
