<template>
    <section-card title="Начальные значения">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="form-group mb-0">
                    <label for="baseWaterPosition" class="font-weight-bold">
                        Начальная и конечная высота порога верхнего бъефа:
                    </label>
                    <input type="text" id="baseWaterPosition"
                           class="form-control form-control-sm d-inline-block w-auto"
                           :value="baseWaterPosition" @change="changeBaseWaterPosition">
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group mb-0">
                    <div class="font-weight-bold">
                        Диапозон регулирования от
                        <input type="text" class="form-control form-control-sm d-inline-block w-auto"
                               aria-label="от" v-model="regionStart">
                        до
                        <input type="text" class="form-control form-control-sm d-inline-block w-auto"
                               aria-label="до" v-model="regionEnd">
                    </div>
                    <div class="text-muted">{{range ? range.join(', ') : '[]'}}</div>
                </div>
            </li>
            <li class="list-group-item">
                <hours-manager :stepContent="stepContent" @changeStepContent="s => $emit('changeStepContent', s)"/>
            </li>
        </ul>
    </section-card>
</template>

<script lang="ts">
    import {Vue, Component, Prop, Watch} from 'vue-property-decorator'
    import SectionCard from '../SectionCard.vue'
    import {AdjustmentRange, BaseWaterPosition, makeAdjustmentRange} from '../../../backend/UserData'
    import HoursManager from './HoursManager.vue'
    import {StepContent} from '../../../backend/Step'

    @Component({
        components: {HoursManager, SectionCard},
    })
    export default class InputSection extends Vue {
        @Prop(Number)
        private baseWaterPosition!: BaseWaterPosition
        @Prop(Array)
        private range!: AdjustmentRange
        @Prop(Array)
        private stepContent!: Array<StepContent>

        private regionStart: any = 12.9
        private regionEnd: any = 13.1

        changeBaseWaterPosition(s: any) {
            this.$emit('changeBaseWaterPosition', parseFloat(s.target.value) || 0)
        }

        @Watch('regionStart')
        @Watch('regionEnd')
        changeRange() {
            const start = parseFloat(this.regionStart)
            const end = parseFloat(this.regionEnd)
            const range = makeAdjustmentRange(start, end)
            this.$emit('changeRange', range)
        }
    }
</script>
