<template>
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Расчёт ГЭС "Пороги"</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Данный проект был создан с целью визуализации метода динамического программирования при
                            решении задач в энергетике. В данном случае производится расчёт наиболее эффективного
                            регулирования гэс пороги.
                        </li>
                        <li class="list-group-item text-center position-relative">
                            <router-link :to="{name: 'compute'}" class="btn btn-link stretched-link">
                                Петейти на страницу интерактивного расчёта
                            </router-link>
                        </li>
                    </ul>
                    <div class="card-footer text-right text-muted">2019 Пеклер Александр</div>
                </div>
            </div>
        </div>
    </div>
</template>
